.main {
    width:600px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    /* height:100vh; */
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    /* padding-bottom: 30px; */
}