.notification {
    position: absolute;
    top:200px;
    left:25px;
    z-index: 2;
    width:300px;
    max-width: 100%;
    padding: 10px;
    background:  rgba(7, 46, 12, 0.8);
    border-radius: 10px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}