.weather-details {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding:10px 5px;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-auto-flow: column; */
    /* max-height: 170px; */
    text-align: center;
    gap: 5px;
    overflow: hidden;
}

.weather-details__item {
    margin-bottom: 10px;
  
    /* flex-basis: 200px; */
 
}

/* @media (max-width: 550px) {
    .weather-details {
        max-height: 130px;
    }
} */

