.weather-details {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding:10px 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-auto-flow: column; */
    max-height: 150px;

    
    text-align: center;
    gap: 5px;
    flex-wrap: nowrap;
    overflow: hidden;
}

.weather-details__item {
    margin-bottom: 10px;
    height: 150px;
 
}